<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <h1 class="header-title">Kate Hannah</h1>
      </a>
      <ul class="nav">
        <li class="nav-item"><a href="./about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="./portfolio.html" class="nav-link">Portfolio</a></li>
        <li class="nav-item"><a href="./contact.html" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="./resume.html" class="nav-link">Resume</a></li>
      </ul>
    </div>
</header>